<div class="row">


    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="A">
        <p id="FSD">{{persona.nombre}} {{persona.apellido}}</p>
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="B">
        <img src="../../../assets/foto perfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>


    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="C">
        <p id="FSD">Full Stack Developer Jr</p>
    </div>


    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="D">
        <div class="ACERCADE">
            <h1 id="Ñ">Acerca de</h1>
            <p>
                Soy una persona extrovertida alegre y optimista. Tengo habilidades para trabajar en equipo, buena
                comunicacion, exelente
                manejo de relaciones interpersonales. Poseo experiencia y conocimientos de los siguientes lenguajes de
                programacion:
                CSS, HTML5, BOOTSTRAP, JS, TS, JAVA, SQL, ANGULAR. entre ortros. Soy una persona introvertida alegre y
                optimista.
                Considero que tengo habilidades para trabajar en equipo.

            </p>
        </div>


    </div>