
/*****************************************************************************************************
Hard & Soft skills- Hard & Soft skills- Hard & Soft skills- Hard & Soft skills- Hard & Soft skills- H-
/**
***************************************************************************************************/
   .skill 
  {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;/*estilo letra Skill*/
    list-style: none; /*sale los puntitos de la lista desordenada*/
    
    padding: 0%;
    margin: 0%;

}

.skill{
color: #333;
text-transform: uppercase;
}

h1 { /*Se alinia el HARD & SOFT SKILLS al centro*/
    text-align: center;
}

h3 {
    margin: 5px;
}

.skill{
    width: 500px;
    margin: 60px auto;
    
    padding: 1px;
box-shadow: 0 42px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}



skill {
    margin: 17px;
    padding: 115px;
}

.bar{
    background: #333;
    display: block;
    height: 20px;
    border-radius: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
box-shadow: 0 14px 28px rgba(241, 233, 233, 0.12), 0 10px 10px rgba(0, 0, 0, 0.24);
transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}

.bar:hover{
box-shadow: 0 14px 28px rgba(3, 3, 3, 0.25), 0 10px 10px rgba(3, 3, 3, 0.55);
}

.bar span{
    height: 20px;
    float: left;
background: linear-gradient(135deg, rgba(194, 9, 64, 0.233)0%, rgba(201, 8, 219, 0.555)100%);
}

.html{
    width: 70%;
    animation: html 2s;
}

.css {
    width: 70%;
    animation: css 2s;
}

.bootstrap {
    width: 65%;
    animation: bootstrap 2s;
}

.JavaScript {
    width: 45%;
    animation: JavaScript 2s;
}

@keyframes html{
    0% {
        width: 0%;

    }
    100%{
        width: 70%;
    }
}

@keyframes css{
    0% {
        width: 0%;

    }

    100% {
        width: 70%;
    }
}

@keyframes bootstrap{
    0% {
        width: 0%;

    }

    100% {
        width: 65%;
    }
}

@keyframes JavaScript{
    0% { 
        width: 0%;
    }

    100% {
        width: 45%;
    }
}


.row {
    background-color: #0587d3;
    
}

.q{
margin: auto;
margin-left: 10%;
text-align: center;

}


footer {
    color: #000000;
        font-size: 14px;
        box-shadow: 2px -2px 5px rgb(228, 226, 226);
        
}