* {
    padding: 0%;
    margin: 0%;
}

#logoap {
    float: left;
    line-height: 75px;
    width: 145px;
    position: relative;
    right: 900px;
}
.menu img {
    
    width: 52px;
    position: relative;
    display: inline-block;
    padding: 5px 4px;
    line-height: normal;
    top: 15px;
    left: 100%;
}

.btn {
    width: 90px;
    position: relative;
    top: 15px;
    left: 71%;
}

.banner img {
    width: 100%;
    height: 600px;
}

/*
@MEDIA  CORE PARA EL HEADER  @MEDIA CORE PARA EL HEADER @MEDIA CORE PARA EL HEADER @MEDIA CORE PAR-
/*****************************************************************************************************/
@media (min-width: 576px) {   /*DE MINIMA RESOLUCION PARA ARRIBA*/
#face {
    width: 55px;
    position: relative;  
    left: 25%;
    float: left;
    top: 10px;
}

#insta {
    width: 55px;
    position: relative;
    left: 24%;
    float: left;
    top: 10px;
}
#linkedin {
    width: 55px;
    position: relative;
    left: 23%;
    float: left;
    top: 10px;
}
.btn {
    width: 90px;
    position: relative;
    left: 23%;
    float: left;
    top: 20px;
}
#logoap{
    position: relative;
    right: 14px;
}
}

@media (min-width: 676px) {
#face {
    width: 55px;
    position: relative;
    left: 35%;
    float: left;
    top: 10px;
}

#insta {
    width: 55px;
    position: relative;
    left: 34%;
    float: left;
    top: 10px;
}

    #linkedin {
    width: 55px;
    position: relative;
    left: 33%;
    float: left;
    top: 10px;

}
.btn {
    width: 90px;
    position: relative;
    left: 35%;
    float: left;
    top: 20px;
}
#logoap {
    position: relative;
    right: 70px;
}

}

@media (min-width: 768px) {
    #face {
    width: 55px;
    position: relative;
    left: 43%;
    float: left;
    top: 10px;
}
    
    #insta {
    width: 55px;
    position: relative;
    left: 43%;
    float: left;
    top: 10px;
}
    
    #linkedin {
    width: 55px;
    position: relative;
    left: 43%;
    float: left;
    top: 10px;
    
}
    
    .btn {
    width: 90px;
    position: relative;
    left: 45%;
    float: left;
    top: 20px;
}
    
    #logoap {
    position: relative;
    right: 22px;
}
}

@media (min-width: 912px) {
    #face {
    width: 55px;
    position: relative;
    left: 53%;
    float: left;
    top: 10px;
}

    #insta {
    width: 55px;
    position: relative;
    left: 53%;
    float: left;
    top: 10px;
}

    #linkedin {
    width: 55px;
    position: relative;
    left: 53%;
    float: left;
    top: 10px;

}

    .btn {
    width: 90px;
    position: relative;
    left: 55%;
    float: left;
    top: 20px;
}

    #logoap {
    position: relative;
    right: 89px;
}
}

@media (min-width: 992px) {
    #face {
    width: 55px;
    position: relative;
    left: 58%;
    float: left;
    top: 10px;
}

    #insta {
    width: 55px;
    position: relative;
    left: 58%;
    float: left;
    top: 10px;
}

    #linkedin {
    width: 55px;
    position: relative;
    left: 58%;
    float: left;
    top: 10px;

}

    .btn {
    width: 90px;
    position: relative;
    left: 58%;
    float: left;
    top: 20px;
}

    #logoap {
    position: relative;
    right: 10px;
}
}

@media (min-width: 1100px) {
.header {
    width: 100%;
    height: 90px;
    background-color: #050005;
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 12px rgba(153, 149, 149, 0.808);
    }
    
    
    #face {
    width: 55px;
    position: relative;
    left: 64%;
    float: left;
    top: 10px;
}

    #insta {
    width: 55px;
    position: relative;
    left: 64%;
    float: left;
    top: 10px;
}

    #linkedin {
    width: 55px;
    position: relative;
    left: 64%;
    float: left;
    top: 10px;

}

    .btn {
    width: 90px;
    position: relative;
    left: 65%;
    float: left;
    top: 20px;
}

    #logoap {
    position: relative;
    right: 75px;
}
}

@media (min-width: 1280px) {
    
    
    #face {
    width: 55px;
    position: relative;
    left: 69%;
    float: left;
    top: 16px;
}

    #insta {
    width: 55px;
    position: relative;
    left: 69%;
    float: left;
    top: 16px;
}

    #linkedin {
    width: 55px;
    position: relative;
    left: 69%;
    float: left;
    top: 16px;

}

    .btn {
    width: 90px;
    position: relative;
    left: 70%;
    float: left;
    top: 26px;
}

    #logoap {
    position: relative;
    right: 75px;
}


}


@media (max-width: 575px) { /*DE MAXIMO RESOLUCION PARA ABAJO*/

.header {
        width: 100%;
        height: 79px;
        background-color: #8B008B;
        position: relative;
        z-index: 10;
        top: 0;
        left: 0;
        box-shadow: 0px 1px 12px rgba(153, 149, 149, 0.808);
    }

#face {
        width: 55px;
        position: relative;
        left: 17%;
        float: left;
        top: 10px;
    }

    #insta {
        width: 55px;
        position: relative;
        left: 17%;
        float: left;
        top: 10px;
    }

    #linkedin {
        width: 55px;
        position: relative;
        left: 17%;
        float: left;
        top: 10px;

    }

    .btn {
        width: 90px;
        position: relative;
        left: 20%;
        float: left;
        top: 20px;
    }

    #logoap {
        position: relative;
        right: 1px;
    }
}

@media (max-width: 516px) {
#face {
        width: 55px;
        position: relative;
        left: 10%;
        float: left;
        top: 10px;
    }

    #insta {
        width: 55px;
        position: relative;
        left: 10%;
        float: left;
        top: 10px;
    }

    #linkedin {
        width: 55px;
        position: relative;
        left: 10%;
        float: left;
        top: 10px;

    }

    .btn {
        width: 90px;
        position: relative;
        left: 10%;
        float: left;
        top: 20px;
    }

    #logoap {
        position: relative;
        right: 1px;
    }
}

@media (max-width: 463px) {
    #face {
        width: 55px;
        position: relative;
        left: 1%;
        float: left;
        top: 10px;
    }

    #insta {
        width: 55px;
        position: relative;
        left: 1%;
        float: left;
        top: 10px;
    }

    #linkedin {
        width: 55px;
        position: relative;
        left: 1%;
        float: left;
        top: 10px;

    }

    .btn {
        width: 90px;
        position: relative;
        left: 1%;
        float: left;
        top: 20px;
    }

    #logoap {
        position: relative;
        right: 10px;
    }
}

@media (max-width: 430px) {
    #face {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;
    }

    #insta {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;
    }

    #linkedin {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;

    }

    .btn {
        width: 90px;
        position: relative;
        left: -5%;
        float: left;
        top: 20px;
    }

    #logoap {
        position: relative;
        right: 10px;
    }
}

@media (max-width: 423px) {
    #face {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;
    }

    #insta {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;
    }

    #linkedin {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;

    }

    .btn {
        width: 90px;
        position: relative;
        margin-left: 164px;  
        margin-top: -55px; 
    }

    #logoap {
        position: relative;
        right: 10px;
    }
}

@media (max-width: 422px) {
    #face {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;
    }

    #insta {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;
    }

    #linkedin {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;

    }

    .btn {
        width: 85px;
            position: relative;
            margin-left: 164px;
            margin-top: -55px;
    }

    #logoap {
        position: relative;
        right: 10px;
    }
}

@media (max-width: 421px) {
    #face {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;
    }

    #insta {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;
    }

    #linkedin {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;

    }

    .btn {
        width: 85px;
            position: relative;
            margin-left: 164px;
            margin-top: -55px;
    }

    #logoap {
        position: relative;
        right: 10px;
    }
}

@media (max-width: 420px) {
    #face {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;
    }

    #insta {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;
    }

    #linkedin {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;

    }

    .btn {
        width: 85px;
            position: relative;
            margin-left: 164px;
            margin-top: -55px;
    }

    #logoap {
        position: relative;
        right: 10px;
    }
}

@media (max-width: 419px) {
    #face {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;
    }

    #insta {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;
    }

    #linkedin {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;

    }

    .btn {
        width: 85px;
            position: relative;
            margin-left: 164px;
            margin-top: -55px;
    }

    #logoap {
        position: relative;
        right: 10px;
    }
}

@media (max-width: 418px) {
    #face {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;
    }

    #insta {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;
    }

    #linkedin {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;

    }

    .btn {
        width: 85px;
            position: relative;
            margin-left: 164px;
            margin-top: -55px;
    }

    #logoap {
        position: relative;
        right: 10px;
    }
}

@media (max-width: 417px) {
    #face {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;
    }

    #insta {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;
    }

    #linkedin {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;

    }

    .btn {
        width: 84px;
            position: relative;
            margin-left: 164px;
            margin-top: -55px;
    }

    #logoap {
        position: relative;
        right: 10px;
    }
}

@media (max-width: 416px) {
    #face {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;
    }

    #insta {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;
    }

    #linkedin {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;

    }

    .btn {
        width: 82px;
            position: relative;
            margin-left: 164px;
            margin-top: -55px;
    }

    #logoap {
        position: relative;
        right: 10px;
    }
}

@media (max-width: 415px) {
    #face {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;
    }

    #insta {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;
    }

    #linkedin {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;

    }

    .btn {
        width: 81px;
            position: relative;
            margin-left: 164px;
            margin-top: -55px;;
    }

    #logoap {
        position: relative;
        right: 10px;
    }
}

@media (max-width: 414px) {
    #face {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;
    }

    #insta {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;
    }

    #linkedin {
        width: 55px;
        position: relative;
        left: -5%;
        float: left;
        top: 10px;

    }

    .btn {
        width: 81px;
            position: relative;
            margin-left: 164px;
            margin-top: -55px;;
    }

    #logoap {
        position: relative;
        right: 10px;
    }
}

@media (max-width: 413px) {
    
.header {
        width: 100%;
        height: 83px;
        background-color: #8B008B;
        position: relative;
        z-index: 10;
        top: 0;
        left: 0;
        box-shadow: 0px 1px 12px rgba(153, 149, 149, 0.808);
    }
    #face {
        width: 45px;
        position: relative;
        left: -1%;
        float: left;
        top: 16px;
    }

    #insta {
        width: 45px;
        position: relative;
        left: -2%;
        float: left;
        top: 16px;
    }

    #linkedin {
        width: 45px;
        position: relative;
        left: -3%;
        float: left;
        top: 16px;

    }

    .btn {
        width: 85px;
            position: relative;
            margin-left: 164px;
            margin-top: -45px;
    }

    #logoap {
        position: relative;
        left: -2px;
        width: 120px;
        top: 5px;
    }
}

@media (max-width: 392px) {

    .header {
        width: 100%;
        height: 83px;
        background-color: #8B008B;
        position: relative;
        z-index: 10;
        top: 0;
        left: 0;
        box-shadow: 0px 1px 12px rgba(153, 149, 149, 0.808);
    }

    #face {
        width: 45px;
        position: relative;
        left: -1%;
        float: left;
        top: 16px;
    }

    #insta {
        width: 45px;
        position: relative;
        left: -2%;
        float: left;
        top: 16px;
    }

    #linkedin {
        width: 45px;
        position: relative;
        left: -3%;
        float: left;
        top: 16px;

    }

    .btn {
        width: 81px;
            position: relative;
            margin-left: 140px;
            margin-top: -45px;
            
    }

    #logoap {
        position: relative;
        left: -2px;
        width: 120px;
        top: 5px;
    }
}
                                          
@media (max-width: 368px) {

    .header {
        width: 100%;
        height: 170px;
        background-color: #8B008B;
        position: relative;
        z-index: 10;
        top: 0;
        left: 0;
        box-shadow: 0px 1px 12px rgba(153, 149, 149, 0.808);
    }

    #face {
        width: 45px;
        position: relative;
        left: -8%;
        float: left;
        top: 45px;
    }

    #insta {
        width: 45px;
        position: relative;
        left: -8%;
        float: left;
        top: 45px;
    }

    #linkedin {
        width: 45px;
        position: relative;
        left: -8%;
        float: left;
        top: 45px;

    }

    .btn {
        width: 90px;
        left: 55px;
        position: relative;
        top: -22px;
        
        
    }

    #logoap {
        position: relative;
        left: 44px;
        width: 120px;
        top: -15px;
    }
}

@media (max-width: 335px) {

    .header {
        width: 100%;
        height: 110px;
        background-color:#8B008B;
        position: relative;
        z-index: 10;
        top: 0;
        left: 0;
        box-shadow: 0px 1px 12px rgba(153, 149, 149, 0.808);
    }

        #face {
            width: 45px;
            position: relative;
            left: -8%;
            float: left;
            top: 45px;
        }
    
        #insta {
            width: 45px;
            position: relative;
            left: -8%;
            float: left;
            top: 45px;
        }
    
        #linkedin {
            width: 45px;
            position: relative;
            left: -8%;
            float: left;
            top: 45px;
    
        }
    
        .btn {
            width: 90px;
            left: 55px;
            position: relative;
            top: -22px;
    
    
        }
    
        #logoap {
            position: relative;
            left: 44px;
            width: 120px;
            top: -15px;
        }
}

@media (max-width: 307px) {

    .header {
        width: 100%;
        height: 110px;
        background-color: #8B008B;
        position: relative;
        z-index: 10;
        top: 0;
        left: 0;
        box-shadow: 0px 1px 12px rgba(153, 149, 149, 0.808);
    }

        #face {
            width: 45px;
            position: relative;
            left: -15%;
            float: left;
            top: 45px;
        }
    
        #insta {
            width: 45px;
            position: relative;
            left: -15%;
            float: left;
            top: 45px;
        }
    
        #linkedin {
            width: 45px;
            position: relative;
            left: -15%;
            float: left;
            top: 45px;
    
        }
    
        .btn {
            width: 80px;
            left: 42px;
            position: relative;
            top: -22px;
    
    
        }
    
        #logoap {
            position: relative;
            left: 1px;
            width: 120px;
            top: -15px;
        }
}

@media (max-width: 285px) {

    .header {
        width: 100%;
        height: 110px;
        background-color: #8B008B;
        position: relative;
        z-index: 10;
        top: 0;
        left: 0;
        box-shadow: 0px 1px 12px rgba(153, 149, 149, 0.808);
    }

    #face {
        width: 45px;
        position: relative;
        left: -25%;
        float: left;
        top: 45px;
    }

    #insta {
        width: 45px;
        position: relative;
        left: -25%;
        float: left;
        top: 45px;
    }

    #linkedin {
        width: 45px;
        position: relative;
        left: -25%;
        float: left;
        top: 45px;

    }

    .btn {
        width: 86px;
        left: 10px;
        position: relative;
        top: -22px;


    }

    #logoap {
        position: relative;
        left: 15px;
        width: 120px;
        bottom: 30px;
    }
}

@media (max-width: 278px) {

    .header {
        width: 100%;
        height: 132px;
        background-color: #8B008B;
        position: relative;
        z-index: 10;
        top: 0;
        left: 0;
        box-shadow: 0px 1px 12px rgba(153, 149, 149, 0.808);
    }

    #face {
        width: 45px;
        position: relative;
        left: -5%;
        float: left;
        top: 45px;
    }

    #insta {
        width: 45px;
        position: relative;
        left: -5%;
        float: left;
        top: 45px;
    }

    #linkedin {
        width: 45px;
        position: relative;
        left: -22%;
        float: left;
        top: -2px;

    }

    .btn {
        width: 90px;
        position: relative;
        margin-left: 150px;
        top: -45px;


    }

    #logoap {
        position: relative;
        left:2px;
        width: 120px;
        bottom: 30px;
    }
}


/*###################################################################################################*/
/*###################################################################################################*/
/*###################################################################################################*/

/*****************************************************************************************************
@NOMBRE Y ACERCA DE- NOMBRE Y ACERCA DE- NOMBRE Y ACERCA DE- NOMBRE Y ACERCA DE- NOMBRE Y ACERCA DE- N-
/*****************************************************************************************************/
.row {
    padding: 0%;
    margin: 0%;

background-color: #eef5f9;
}

#F { /*CAJA de --- ACERCA DE*/
    margin: auto;


    background-color: #eef5f9;

}

.acerca { /*estilo para el texto --- ACERCA DE*/
    
    padding-right: 0%;
    
}

.loren{ /*descripcion de --- ACERCA DE*/
   padding: 0%;
   position: relative;
   text-align: center;
   margin-left: auto;
   background-color: #eef5f9;
}

#FSD {
    
    
margin: auto;
margin-top: -25px;
float: right;
}  

#nombre { /*etiqueta de -- NOMBRE*/
    
   font-weight: bold;
   margin: auto;

}

#cajanombre {
    background-color: #eef5f9;
    width: 660px;
    height: 100px;
    margin: auto; 
    margin-top: 0%;
    
}
/**********************************@MEDIA CORE PARA LA FOTO DE PERFIL*********************************
/*****************************************************************************************************/

@media (min-width: 576px) {
    #fotodeperfil {
        position: absolute;
        width: 33%;
        border-radius: 100%;
        box-shadow: 0px 0px 0px 4px #eef5f9;

        margin-left: 37%;
        margin-top: -16%;
    }
}

@media (min-width: 650px) {
    #fotodeperfil {
        position: absolute;
        width: 33%;
        border-radius: 100%;
        box-shadow: 0px 1px 0px 4px #eef5f9;
        margin-left: 36%;
        margin-top: -16%;
    }
}

@media (min-width: 807px) {
    #fotodeperfil {
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 0px 1px 0px 4px #eef5f9;
        margin-left: 36%;
        margin-top: -16%;
    }
}

@media (min-width: 957px) {
    #fotodeperfil {
        position: absolute;
        width: 28%;
        border-radius: 100%;
        box-shadow: 0px 1px 0px 4px #eef5f9;
        margin-left: 37%;
        margin-top: -16%;
    }
}

@media (min-width: 1025px) {
    #fotodeperfil {
        position: absolute;
        
        width: 20%;
        border-radius: 100%;
        box-shadow: 0px 0px 0px 5px #eef5f9;
        margin-left: 41%;
        margin-top: -11%;
        
    }
}

@media (max-width: 575px) {
    #fotodeperfil {
        position: absolute;
        width: 33%;
        border-radius: 100%;
        box-shadow: 0px 1px 0px 4px #eef5f9;
        margin-left: 36%;
        margin-top: -17%;
        
    }
}

@media (max-width: 540px) {
    #fotodeperfil {
        position: absolute;
        width: 35%;
        border-radius: 100%;
        box-shadow: 0px 1px 0px 4px #eef5f9;
        margin-left: 34%;
        margin-top: -17%;
    }
}

@media (max-width: 521px) {
    #fotodeperfil {
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 0px 1px 0px 4px #eef5f9;
        margin-left: 37%;
        margin-top: -17%;
    }
}

@media (max-width: 482px) {
    #fotodeperfil {
        position: absolute;
        width: 29%;
        border-radius: 100%;
        box-shadow: 0px 1px 0px 4px #eef5f9;
        margin-left: 38%;
        margin-top: 1%;
    }
}

@media (max-width: 414px) {
#nombre {
        font-weight: bold;
        margin-top: -9%;

        position: absolute;
        margin-top: 14%;
        margin-left: 30%;
    }

    #FSD {

        margin-top: 80px;
        margin-right: 28%;
    }
    
    
    
    #fotodeperfil {
        position: absolute;
        width: 35%;
        border-radius: 100%;
        box-shadow: 0px 1px 0px 4px #eef5f9;
        margin-left: 34%;
        margin-top: -22%;
    }
}

@media (max-width: 402px) {
#nombre {
        font-weight: bold;
        margin-top: -9%;

        position: absolute;
        margin-top: 14%;
        margin-left: 27%;
    }

    #FSD {

        margin-top: 80px;
        margin-right: 25%;
    }
    
    
    #fotodeperfil {
        position: absolute;
        width: 33%;
        border-radius: 100%;
        box-shadow: 0px 1px 0px 4px #eef5f9;
        margin-left: 35%;
        margin-top: -20%;
    }
}

@media (max-width: 355px) {
#nombre {
        font-weight: bold;
        margin-top: -9%;

        position: absolute;
        margin-top: 14%;
        margin-left: 20%;
    }

    #FSD {

        margin-top: 60px;
        margin-right: 19%;
    }
    
    
    
    
    #fotodeperfil {
        position: absolute;
        width: 35%;
        border-radius: 100%;
        box-shadow: 0px 1px 0px 4px #eef5f9;
        margin-left: 34%;
        margin-top: -22%;
    }
}

@media (max-width: 280px) {
#nombre {
        font-weight: bold;
        margin-top: -9%;

        position: absolute;
        margin-top: 19%;
        margin-left: 20%;
    }

    #FSD {

        margin-top: 70px;
        margin-right: 22%;
    }



#fotodeperfil {
position: absolute;
    width: 43%;
    border-radius: 100%;
    box-shadow: 0px 1px 0px 4px #eef5f9;
    margin-left: 30%;
    margin-top: -25%;
            
    }
}

@media (max-width: 240px) {
#nombre {
        font-weight: bold;
        margin-top: -9%;

        position: absolute;
        margin-top: 14%;
        margin-left: 14%;
    }

    #FSD {

        margin-top: 60px;
        margin-right: 15%;
    }
    
    #fotodeperfil {
        position: absolute;
        width: 43%;
        border-radius: 100%;
        box-shadow: 0px 1px 0px 4px #eef5f9;
        left: 4%;
        top: 720px;
    }
}

@media (max-width: 180px) {
    #fotodeperfil {
        position: absolute;
        width: 43%;
        border-radius: 100%;
        box-shadow: 0px 1px 0px 4px #eef5f9;
        left: 29%;
        top: 785px;
    }
}

@media (max-width: 140px) {
    #fotodeperfil {
        position: absolute;
        width: 43%;
        border-radius: 100%;
        box-shadow: 0px 1px 0px 4px #eef5f9;
        left: 29%;
        top: 795px;
    }
}

/*###################################################################################################*/
/*###################################################################################################*/
/*###################################################################################################*/


/*****************************************************************************************************
@EXPERIENCIA LABORAL- EXPERIENCIA LABORAL- EXPERIENCIA LABORAL- EXPERIENCIA LABORAL- EXPERIENCIA LABO-
/*****************************************************************************************************/

.row {
    padding: 0px;
    

}


h3 {
    display: inline-block;
    position: relative;
    left: 0%;
}

.expe{
    position: absolute;
    margin: auto;
    padding-top: 2%;
    padding-left: 1%;
    display: flex;

}

.linia {
    box-shadow: 0px 12px 0px rgba(130, 7, 134, 0.445);
    position: relative;
    left: 2%;
}

/* Espacio de los trabajos */

.adelante {
    display: inline;
    margin: auto;
}

#res{
    margin-left: 2%;
}

/* Espacio de los parrafos*/
p {
    margin-left: 4%;
    margin-top: 0%;
}


/*###################################################################################################*/
/*###################################################################################################*/
/*###################################################################################################*/


/*****************************************************************************************************
EDUCACION- EDUCACION- EDUCACION- EDUCACION- EDUCACION- EDUCACION- EDUCACION- EDUCACION- EDUCACION- ED-
/*****************************************************************************************************/


.row {
    padding: 3px;
    
}


h3 {
    position: relative;
}


.edu {
    position: absolute;
    padding-top: 2%;
    padding-left: 1%;
    display: flex;

}

/* Espacio de los trabajos */

.adelan {
    display: inline;
    margin-left: 0%;

}

/* Espacio de los parrafos*/
p {
    margin-left: 0%;
}

/*###################################################################################################*/
/*###################################################################################################*/
/*###################################################################################################*/


.header {
    width: 100%;
    height: 90px;
    background-color: #8B008B;
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 12px rgba(153, 149, 149, 0.808);
}