<div class="row">

    <div class="container" id="p">
        
        <h1 id="edu">Educacion</h1>
        <div class="col-lg-2">
            <button type="button" class="btn btn-success" routerLink="/nuevaedu" *ngIf="isLogged">
                Agregar Educación
            </button>
        </div>

        <div class="col lg 1"></div>
        <div class="col-lg-11">
            <table class="table" id="A">
                <tbody>
                    <tr *ngFor="let Educacion of educacion">
                        <td>
                            <h2>{{Educacion.nombreE}}</h2>
                        </td>
                        <td>{{Educacion.descripcionE}}</td>

                        <td *ngIf="isLogged">
                            <button class="btn btn-success" routerLink="/editedu/{{Educacion.id}}"><i
                                    class="bi bi-pencil-fill"></i> </button>
                        </td>


                        <td *ngIf="isLogged">
                            <button class="btn btn-danger" (click)="delete(Educacion.id)">
                                <i class="bi bi-x-lg"></i> </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <br>

    </div>

</div>