<div class="row">

    <div class="col-lg-4" id="B">
        <h1 id="expe">Educacion</h1>
    </div>

    <div class="col-lg-4" id="A  ">
        <button type="button" class="btn btn-success" routerLink="/nuevaexp" *ngIf="">
            Nueva Experiencia
        </button>
    </div>

    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of ">
                    <td>
                        <h4></h4>
                    </td>
                    <td></td>

                    <td>
                        <button class="btn btn-success" routerLink="">
                            <i class="bi bi-pencil-fill"></i></button>
                    </td>

                    <td>


                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>