<div class="row">
    <h1 id="titulo">Proyectos realizados</h1>
    
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1" >
            <h2 id="subtitulo">Portfolio #Argentinaprograma</h2>
            
            <p id="descripcion">golll dolor st amet consectetur adipisicing elit. Eaque nostrum eligendi saepe, possimus voluptate accusantium, sit deleniti, illo laudantium quasi rem aliquam quisquam. Numquam sit atque dolor iure neque. Aperiam!
            </p>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 -md-offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/Futuristic Digital Background LinkedIn Banner.png" class="img-fluid" id="IMG">
        </div>

    </div>  
</div>