.row {
    text-align: center;
    background-color: #330033;
    text-align: center;
    color: #fefefe;
    font-size: 14px;
    box-shadow: 2px -2px 5px #999;
}

#nombre {
    position: relative;
    padding: 1px;
}